page-departure-changedate {
    ion-content {
        background-image: url('../assets/departure/background/background-home.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    $heiderHeight: 50px;
    $titleHeight: 30px;
    $rowHeight: 25px;
    .change-date-header {
        height: $heiderHeight;
        line-height: $heiderHeight;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
        border-bottom: solid 1px #123;
        .today-button {
            height: $heiderHeight/2;
            line-height: $heiderHeight/2;
            font-size: .7em;
            color: #FFF;
            border: solid 1px #FFF;
            border-radius: 10px;
            background-color: rgba( 33, 33, 33, .9);
            position: absolute;
            top: $heiderHeight/4;
            right: 10px;
            padding: 0 8px;
            text-transform: none;
            font-weight: normal;
        }
    }
    .change-date-body {
        .header {
            height: $titleHeight;
            line-height: $titleHeight;
            text-align: center;
            text-transform: uppercase;
        }
        .content {
            height: $rowHeight * 3;
            background: rgba(9, 15, 21, 0.7);
            background: -webkit-gradient( linear, left top, right top, right bottom, left bottom, from(rgba(9, 15, 21, 0.7)), color-stop(5%, rgba(255, 255, 255, 0)), color-stop(95%, rgba(255, 255, 255, 0)), to(rgba(9, 15, 21, 0.7)));
            background: linear-gradient( rgba(9, 15, 21, 0.7) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, rgba(9, 15, 21, 0.7) 100%);
            /* background: -moz-gradient(linear, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(9, 15, 21, 0.7)), to(rgba(255, 255, 255, 0)));*/
            /* background: -o-gradient(linear, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(9, 15, 21, 0.7)), to(rgba(255, 255, 255, 0)));*/
            /* background: -ms-gradient(linear, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(9, 15, 21, 0.7)), to(rgba(255, 255, 255, 0)));*/
            /* background: gradient(linear, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(9, 15, 21, 0.7)), to(rgba(255, 255, 255, 0)));*/
        }
    }
}