<ion-content>
    <div class="change-date-header">
        <span class="title">Đổi ngày</span>
        <span class="today-button" (click)="gotoToday()">Hôm nay</span>
    </div>
    <div class="change-date-body">
        <div class="solar-date">
            <div class="header">
                <span>Dương lịch</span>
            </div>
            <div id="solar-date" class="content">
                <div class="bg-active">
                </div>
                <div class="change-date-col solar-col" index="0">
                    <div class="item"></div>
                    <div class="item" *ngFor="let date of datas[0]"><span>{{date}}</span></div>
                    <div class="item"></div>
                </div>
                <div class="change-date-col solar-col" index="1">
                    <div class="item"></div>
                    <div class="item" *ngFor="let month of datas[1]"><span>{{month}}</span></div>
                    <div class="item"></div>
                </div>
                <div class="change-date-col solar-col" index="2">
                    <div class="item"></div>
                    <div class="item" *ngFor="let year of datas[2]"><span>{{year}}</span></div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
        <div class="icon">
            <i class="fa fa-repeat" aria-hidden="true"></i>
        </div>
        <div class="lunar-date">
            <div class="header">
                <span>
                    Âm lịch
                </span>
            </div>
            <div class="content">
                <div class="bg-active"></div>
                <div class="change-date-col lunar-col" index="3">
                    <div class="item"></div>
                    <div class="item" *ngFor="let date of lunarMonth"><span>{{date}}</span></div>
                    <div class="item"></div>
                </div>
                <div class="change-date-col lunar-col" index="4">
                    <div class="item"></div>
                    <div class="item" *ngFor="let month of datas[1]"><span>{{month}}</span></div>
                    <div class="item"></div>
                </div>
                <div class="change-date-col lunar-col" index="5">
                    <div class="item"></div>
                    <div class="item" *ngFor="let year of datas[2]"><span>{{year}}</span></div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="change-date-footer">
        <span class="button-detail">Chi tiết ngày</span>
    </div>
</ion-content>